#ignore

.gradle
/local.properties
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/libraries
/.idea/misc.xml
/app/app.iml
openCVLibrary300/openCVLibrary300.iml
.DS_Store
/build
/captures
/app/src/main/jniLibs/
/openCVLibrary300/build/
*apk
/app/*.log

# don't ignore
!libopencv_java3.so
